* {
    margin: 0;
    padding: 0;
}

p {
    margin: 1em 0;
}

h1 {
    margin: 0.67em 0;
    text-align: left;
    font-family: "Anta", sans-serif;
}

h3 {
    margin: 1em 0;
}

ul, ol {
    margin: 1em 0;
    padding-left: 40px;
}

body {
    background-color: #ffe4c4;
}

.navbar-brand {
    height: 150px;
}

.logo_img {
    height: 80px;
}

.social i {
    color: #333;
    font-size: 30px;
    margin-bottom: 40px;
    letter-spacing: 30px;
}

nav i {
    font-size: 30px;
    color:#ddd;
}

nav {
    background: linear-gradient(90deg, rgba(0,157,226,1) 0%, rgba(200,2,120,1) 50%, rgba(55,32,99,1) 100%);
    padding: 0 80px;
    height: 60px;
    display:flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 2px 2px 5px black;
}

nav a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-weight: 600; 
    font-family: Georgia, serif;
    font-size: 20px;
    display: flex;
    align-items: center;
}

nav a i {
    margin-right: 20px;
}

header {
    width: 100%;
    background-color: #ffe4c4;
    position: fixed;
    top:0;
    text-align: center;
}

footer {
    background: grey;
    text-align: center;
    height: 80px;
    margin-top: 30px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #ccc;
    background-image: url('footer_bg.jpg');
    background-position: 15% 53%;
}

.rodape {
    background-color: rgba(0,0,0,0.4);
    height: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    margin: 0 50px;
    color: #444;
    line-height: 1.6;
    text-align: justify;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
}

#sobre p {
    text-indent: 30px;
}

#author {
    margin-left: 15px;
    color: #ddd;
    letter-spacing: 5px;
    word-spacing: 7px;
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    font-size: 18px;
}

.espacador_nav {
    height: 230px;
}

.espacador_footer {
    height: 90px;
}